#telalogin{
    width: 500px;
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
background-color: rgb(54, 53, 54);
box-shadow: 1px 5px 30px rgb(39, 73, 226);
opacity: 0.9;
z-index: 2;
}#telalogin h1,h3,p{
    color: ghostwhite;
    
}
#aleatorio{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color:#1C1B1B;
    z-index: 1;
    
}